truffle-mywallet/node_modules/
PrivateNetwork/
truffle-cv/node_modules/
truffle-firstapp/node_modules/
truffle-react-cv/node_modules/
workspace.code-workspace
truffle-cv/build/
truffle-firstapp/build/
truffle-react-cv/build/
truffle-mywallet/build/

